<!-- Start Footer -->
<footer class="default-padding-top text-light">
    
    <div class="container">
        <div class="row">
            <div class="f-items fv1">
                <div class="col-md-5 item">
                    <div class="f-item">
                        <h4>About Us</h4>
                        <p>
                            At TYPNI, we believe in the power of youth to shape the future. Spearheaded by Charlene Ruto, the daughter of Kenya’s President, TYPNI is a dynamic organization dedicated to empowering young people across Kenya and beyond.
                        </p>
                        <p>
                            <span>Please write your email and get our amazing updates, news and support</span>
                        </p>
                        <div class="subscribe">
                            <form action="#">
                                <div class="input-group stylish-input-group">
                                    <input type="email" name="email" class="form-control" placeholder="Enter your e-mail here">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <i class="fa fa-paper-plane"></i>
                                        </button>  
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item">
                    <div class="f-item link full">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="event-carousel.html">Events</a></li>
                            <li><a href="blog-right-sidebar.html">Blog</a></li>
                            <li><a href="contact.html">Let's Talk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 item">
                 <div class="f-item link full">
                        <h4>Lets Talk</h4>
                        <ul>
                            <li>
                            <a href="https://www.instagram.com/typn_i" target="_blank">
                                <i class="fab fa-instagram"></i> Instagram
                            </a>
                            </li>
                            <li>
                            <a href="https://x.com/typn_i?s=21" target="_blank">
                                <i class="fab fa-twitter"></i> Twitter
                            </a>
                            </li>
                            <li>
                            <a href="https://www.facebook.com/share/1Ypfg3qCF2/?mibextid=wwXIfr" target="_blank">
                                <i class="fab fa-facebook"></i> Facebook
                            </a>
                            </li>
                            <li>
                            <a href="https://www.linkedin.com/company/the-young-people-s-network-international" target="_blank">
                                <i class="fab fa-linkedin"></i> LinkedIn
                            </a>
                            </li>
                            <li>
                            <a href="https://www.tiktok.com/@typni_" target="_blank">
                                <i class="fab fa-tiktok"></i> TikTok
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Start Footer Bottom -->
    <style>
    .footer-bottom {
    position: relative;
    /* background-image: url('assets/img/Pattern.svg'); */
    background-size: cover;
    background-position: center;
    z-index: 1;
    }

    .footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 30% opacity */
    z-index: 2;
    }

    .footer-bottom > .container {
    position: relative;
    z-index: 3;
    }
    </style>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 logo">
                        <img src="assets/img/logo-light.png" alt="Logo">
                    </div>
                    <div class="col-md-6 footer-bottom-menu text-right">
                        <ul>
                            <li><a href="terms-conditions.html">Terms of Use</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="contact-1.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->
