<!-- Start Header Top 
    ============================================= -->
    <!-- <style>
    .top-bar-area {
    position: relative;
    background-image: url('assets/img/Pattern.svg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    }

    .top-bar-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Black overlay with 30% opacity */
    z-index: 2;
    }

    .top-bar-area > .container {
    position: relative;
    z-index: 3; /* Ensures content stays above the overlay */
    }
    </style> -->


    <div class="top-bar-area one-line bg-dark text-light" >
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="info box">
                        <ul>
                            <li>
                                <p>
                                    <i class="fas fa-map-marker-alt"></i> <span>Karen, Nairobi</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-envelope-open"></i> <span>niaje@typni.org</span>
                                </p>
                            </li>
                            <li>
                                <!-- <p>
                                    <i class="fas fa-mobile-alt"></i> <span>+254112277555</span>
                                </p> -->
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="topbar-button text-right col-md-3">
                    <a href="contact.html" class="btn btn-theme circle effect standard btn-sm">Partner With Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->

     <!-- Header 
    ============================================= -->
    <header>

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-sticky bootsnav">

            <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->             

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="logo logo-display" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="event-carousel.html" >Event</a>
                        </li>
                        <li>
                            <a href="projects-2-colum.html">programs</a>
                        </li>
                        <li>
                            <a href="blog-page.html">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html">contact</a>
                        </li>
                        <li id="auth-nav-item">
                            <a class="fas fa-user" href="login.html" id="auth-nav-link"><span id="auth-nav-text">My Account</span> </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                
                <div class="widget">
                    <h4>About Us</h4>
                    <p>
                        The Young People’s Network International (TYPNI) is a global initiative dedicated to creating a world where young people are empowered, connected, and supported in their journey of fulfillment.
                        We bring together youth from diverse backgrounds, equipping them with resources, knowledge, and networks that foster growth, leadership, and impact in their spheres of influence.
 
                    </p>
                </div>
                <div class="widget">
                    <h4>Office Location</h4>
                    <ul>
                        <li>
                            <!-- <i class="fas fa-phone"></i>
                            +254 (0) 112277555 -->
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            00100 Nairobi, Kenya
                        </li>
                        <li>
                            <i class="fas fa-envelope-open"></i>
                            Niaje@typni.com
                        </li>
                    </ul>
                </div>
                <div class="widget opening-hours">
                    <h4>Opening Hours</h4>
                    <ul>
                        <li>
                            Mon - Fri <span>9:00 - 21:00</span>
                        </li>
                        <li>
                            Saturday <span>10:00 - 16:00</span>
                        </li>
                    </ul>
                </div>
                <div class="widget social">
                    <h4>Like Us On</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/share/1Ypfg3qCF2/?mibextid=wwXIfr"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://x.com/typn_i?s=21"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/typn_i"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End Side Menu --> 

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->